[submodule "forks/imgui"]
	path = forks/imgui
	url = https://github.com/ocornut/imgui
[submodule "forks/stb"]
	path = forks/stb
	url = https://github.com/nothings/stb
[submodule "forks/qoi"]
	path = forks/qoi
	url = https://github.com/phoboslab/qoi.git
